{% extends 'base.html' %}

{% block style %}

{% endblock style %}

{% block javascript %}

<script defer>  

$(document).ready(function() {
        const csrf = $("input[name='csrfmiddlewaretoken']").val()
        console.log(csrf)

        const sendlopTinChiData = function(lopTinChi) {
            $.ajax({
                type: "POST", 
                url: "{% url 'add_lopTinChi_ajax' %}",
                data: {
                    'csrfmiddlewaretoken': csrf,
                    'lopTinChi': lopTinChi,
                },
                success: (response) =>{
                    var data = response.data
                    console.log(data)
                    if (data == "Invalid"){
                        $(".error-lopTinChi").html("Lớp tín chỉ không hợp lệ")
                        setTimeout(function(){
                            $(".error-lopTinChi").html("");
                        }, 2000)
                    }else{

                    }

                },
                error: (error) => {
                    console.log(error)
                } 
            })
        }

        $("#btn-add_lopTinChi").click(function(){
            sendlopTinChiData($("#lopTinChi").val())
        })

 
    });


</script>

{% endblock javascript %}


{% block content %}
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            
            <div class="row mt-2">
                <div class="col-3">
                    <input type="text" class='form-control' placeholder='Thêm lớp tín chỉ' id='lopTinChi'>
                </div>
                <div>
                    <button type="button" id="btn-add_lopTinChi" class="btn btn-primary btn-block">Add</button>
                </div>
                <span class='error-lopTinChi ml-3 text-danger'>

                </span>
            </div>

            <table class="table mt-4 lopTinChiDangKi">
                <thead>
                    <tr>
                        <th>Mã lớp</th>
                        <th>Học phần</th>
                        <th>Giáo viên giảng dạy</th>
                        <th>Thời gian</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class='input-lopTinChi' >
                        <td scope="row"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> 
                            <input type="checkbox">
                        </td>
                    </tr>
                </tbody>
            </table>

            <input class='btn btn-success mt-4' type="submit" value="OK">
        </form>
    </div>


{% include 'student/student_base.html' %}

{% endblock content %}