{% extends "base.html" %}

{% block content %}

    <table class="table">
        <thead class="thead-light">
            <tr>
            <th scope="col">Mã số sinh viên</th>
            <th scope="col">Email</th>
            <th scope="col">Lớp</th>
            </tr>
        </thead>
        <tbody>
            {% for student in student_list %}
                <tr>
                    <th scope="row">{{student.code}}</th>
                    <td>{{student}}</td>
                    <td>{{genaralClass.name}}</td>
                </tr>
            {% endfor %}
            <td>Count: {{student_list.count}}</td>
        </tbody>
    </table>
    
    <a href="{% url 'logout' %}">Log Out</a>
    <a href="{% url 'student_info' %}">Personal Information</a>
    <a href="{% url 'genaral_class' %}">Genaral Class</a>
    <a href="{% url 'change_info' %}">Change Info</a>


{% endblock %}