{% extends "base.html" %}



{% block content %}

{% if request.user.role == 1 %}

    {% if student %}
        <p>{{student}}</p>

        <ul>
            <li>Email: {{ student.email }}</li>
            <li>Năm vào trường: {{ student.year_start }}</li>
            <li>Ngày sinh: {{student.date_of_birth | date:"d-m-Y"}}</li>
        </ul>
    {% else %}
        <p>No student with code {{ input_code }}</p>
    {% endif %}


    {% include 'teacher/teacher_base.html' %}


{% else %}
    <p>Student page</p>

    <ul>
        <li>Email: {{ student.email }}</li>
        <li>Năm vào trường: {{ student.year_start }}</li>
        <li>Ngày sinh: {{student.date_of_birth | date:"d-m-Y"}}</li>
    </ul>

    {% include 'student/student_base.html' %}

{% endif %}







{% endblock %}