{% extends "base.html" %}
{% load static %}

{% block content %}

{% if request.user.role == 1 %}

    {% if student %}
        <p>{{student}}</p>
<!--
      ************************************************************************************************
                   CÁI GIÁO VIÊN XEM THÌ CHƯA LÀM NÊN ĐỂ TẠM
      ************************************************************************************************
    -->
        <div class="page-content p-5" id="content">
          <form class="d-flex">
            <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
          <button id="sidebarCollapse" type="button" class="btn btn-light bg-white  shadow-sm px-2 mb-2 d-md-none d-sm-block" style="max-width: 100px;"><i class="fa fa-bars me-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>
            <div class="row">
              <h3 class="text-warning">
                <i class="fas fa-user-graduate me-1 text-primary fa-fw"></i>
                  Student Information
              </h3>
              <div class="col-lg-2 mt-5 d-md-block d-lg-none " >
                <img src="{% static 'logo/logo.jpg' %}"  width="100%" class="img_student" >
              </div>
              <div class="col-lg-10 mt-5">
                <h2 class="text-light">
                  ĐÀM PHI LONG
                </h2>
                <div class="row">
                  <div class="col-lg-6">
                    <table class="table table-bordered text-light ">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Information</th>
                          <th scope="col">Value</th>
                         
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>ID</td>
                          <td>20192983</td>
                          
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Birthdate</td>
                          <td>{{student.date_of_birth | date:"d-m-Y"}}</td>
                          
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Sex</td>
                          <td>Male</td>
                        </tr>
                        <tr>
                          <th scope="row">4</th>
                          <td>Email</td>
                          <td>{{ student.email }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-lg-6">
                    <table class="table table-bordered text-light ">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Information</th>
                          <th scope="col">Value</th>
                         
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>ID</td>
                          <td>20192983</td>
                          
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Birthdate</td>
                          <td>{{student.date_of_birth | date:"d-m-Y"}}</td>
                          
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Sex</td>
                          <td>Male</td>
                        </tr>
                        <tr>
                          <th scope="row">4</th>
                          <td>Faculty</td>
                          <td>{{ student.year_start }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 mt-5 d-lg-block img_student--none">
                <img src="{% static 'logo/logo.jpg' %}"  alt="" width="100%">
              </div>
              
            </div>
          </div>
    {% else %}
        <p>No student with code {{ input_code }}</p>
    {% endif %}


    {% include 'teacher/teacher_base.html' %}


{% else %}
    
    <!--
      ************************************************************************************************
                   SECTION/BODY - STUDENT--INFO, REPONSIVE BỊ LỖI, CHƯA SỬA!
      ************************************************************************************************
    -->
    <div class="page-content p-5" id="content">
      <div class="d-flex justify-content-between">
        <button id="sidebarCollapse" type="button" class="btn btn-light bg-white  shadow-sm px-2 mb-2 " style="max-width: 100px; max-height: 40px;">
          <i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>
          <form class="d-flex">
            <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" style="max-height: 40px;">Search</button>
        </form>
      </div>
      
        <div class="row mt-4">
          <h3 class="text-warning">
            <i class="fas fa-user-graduate me-1 text-primary fa-fw" style="width: 2.25em;"></i>
              Student Information
          </h3>
          <div class="col-lg-2 mt-5 d-md-block d-lg-none " >
            <img src="{% static 'logo/logo.jpg' %}"  width="100%" class="img_student" >
          </div>
          <div class="col-lg-10 mt-5">
            <h2 class="text-light">
              ĐÀM PHI LONG
            </h2>
            <div class="row">
              <div class="col-lg-6">
                <table class="table table-bordered text-light ">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Information</th>
                      <th scope="col">Value</th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>ID</td>
                      <td>20192983</td>
                      
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Birthdate</td>
                      <td>{{student.date_of_birth | date:"d-m-Y"}}</td>
                      
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Sex</td>
                      <td>Male</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>Email</td>
                      <td>{{ student.email }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-lg-6">
                <table class="table table-bordered text-light">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Information</th>
                      <th scope="col">Value</th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">5</th>
                      <td>ID</td>
                      <td>20192983</td>
                      
                    </tr>
                    <tr>
                      <th scope="row">6</th>
                      <td>Birthdate</td>
                      <td>21/10/2001</td>
                      
                    </tr>
                    <tr>
                      <th scope="row">7</th>
                      <td>Sex</td>
                      <td>Male</td>
                    </tr>
                    <tr>
                      <th scope="row">8</th>
                      <td>Faculty</td>
                      <td>{{ student.year_start }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-2 mt-5 d-lg-block d-sm-none">
            <img src="{% static 'logo/logo.jpg' %}" class="img-fuild " width="50%" alt="" width="100%">
          </div>
          
          
        </div>
      </div>
<!--
      ************************************************************************************************
                   END- SECTION/BODY - STUDENT--INFO
      ************************************************************************************************
    -->
    {% include 'student/student_base.html' %}

{% endif %}


{% endblock %}


