{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/select_term.css' %}">
{% endblock style %}
{% block javascript %}

{% endblock javascript %}
{% block content %}
<div class="page-content p-5 position-relative" id="content">
     
    <div class="row mt-4">
      <h3 class="text-warning">
        <i class="fas fa-search me-1 text-primary fa-fw" style="width: 2.25em;"></i>
        Tra cứu học phần
      </h3>
      <div class="col-lg-12 mt-5">
    <div class="table-responsive">
        <table class="table table-bordered text-light">
            <thead class="thead">
                <tr>
                    <th>Mã lớp</th>
                    <th>Học phần</th>
                    <th>Giáo viên giảng dạy</th>
                    <th>Thời gian</th>
                    <th>Thứ</th>
                    <th>Tuần</th>
                </tr>
            </thead>
            <tbody>
                {% for lopTC in lopTinChitrongKi %}
                    <tr>
                        <td scope="row">{{lopTC.lopTinChi.code}}</td>
                        <td>{{lopTC.lopTinChi.hocPhan}}</td>
                        <td>{{lopTC.teacher.getfullname}}</td>
                        <td>{{lopTC.timing}}</td>
                        <td>{{lopTC.timetable.day}}</td>
                        <td>
                            {{ lopTC.timetable.display_week }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  
    </div> 
    </div>      
</div>

{% include 'student/student_base.html' %}

{% endblock  %}