{% extends 'base.html' %}
{% load static %}


{% block content %}


<div class="container">
        <div class="text-right">
            <a href="{% url 'them_do_an' %}">
                <button class="btn btn-secondary btn-success" type='submit'>Thêm</button>
            </a>
            
        </div>
</div>



<div class="container text-light pt-3">
{% for do_an in do_an_list %}
    <li><a href="{% url 'tung_do_an' do_an.slug_name %}">{{do_an}}</a></li>
{% endfor %}
</div>


{% include 'teacher/teacher_base.html' %}
{% endblock content %}