{% extends 'base.html' %}
{% load static%}
{% block content %}

  <div class="page-content p-5 position-relative" id="content">

    <div class="row mt-4">
      <h3 class="text-warning">
        <i class="far fa-calendar-alt me-1 text-primary fa-fw" style="width: 2.25em;"></i>
          Lớp quản lý tín Chỉ
      </h3>
    
      <div class="col-lg-12 mt-5">
        <div class="row"><!---->

          <div class="col-lg-12 mt-3">
            <div class="table-responsive-sm">
              <table class="table  text-light ">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Class</th>
                  </tr>
                </thead>
                <tbody>

                  {% for loptc in lopTinChiDetail_objects %}
                  <tr> 
                    <!-- 
                      ********************************
                      Cột để đánh số
                      ********************************
                    -->
                    <th scope="row" class="td-count">{{ forloop.counter }}</th>
                    <td class="td-value" ><a href="{% url 'tung_lop_TC' loptc.semester loptc.lopTinChi.code %}" >{{ loptc }}</a></td>
                   
                  </tr>
                  {% endfor %}
                  
                  <td colspan="2" class="td-length">Count: {{ lopTinChiDetail_objects|length }}</td>
                </tbody>
              </table>
            </div>
            
          </div>  
              
        </div><!---->
        
      </div>
     
      
      
    </div>
  </div>
    <!--{% for loptc in lopTinChi %}
    <li>
        <a href="lop_tin_chi/{{ loptc.code }}">{{ loptc }}</a>
    </li>
    {% endfor %}
  -->
    {% include 'teacher/teacher_base.html' %}

{% endblock content %}