{% load static %}




<div class="vertical-nav bg-dark" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-dark">
      <div class="media d-flex align-items-center"><img src="{% static 'logo/logo.jpg' %}" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">

        
        
        <div class="media-body">
            <button class="d-md-block d-sm-none float-right text-light btn btn-outline-none"  id="sidebarCollapse-small" type="button"><i class="fas fa-times"></i></button>

            <h4 class="m-0 text-light">{{ request.user.lastname }} {{ request.user.firstname }}</h4>

            <p class="font-weight-light text-light mb-0">Xin chào!</p>
          
        </div>
      </div>
      
    </div>

    <ul class="nav flex-column bg-dark mb-0">
      <li class="nav-item">
        <a href="{% url 'info' %}" class="nav-link text-light">
            <i class="fas fa-user-graduate me-1 text-primary fa-fw"></i>
            Thông tin cá nhân</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'lop_chung_quan_ly' %}" class="nav-link text-light"><i class="fas fa-newspaper me-1 text-primary fa-fw"></i>
            Lớp chung quản lý</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'lop_tin_chi_ql' %}" class="nav-link text-light"><i class="far fa-calendar-alt me-1 text-primary fa-fw"></i>
            Lớp tín chỉ quản lý</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'do_an' %}" class="nav-link text-light"><i class="fas fa-tasks me-1 text-primary fa-fw"></i>
            Đồ án</a>
      </li>
      
      <li class="nav-item">
        <a href="{% url 'logout' %}" class="nav-link text-light">
            <i class="fas fa-sign-out-alt me-1 text-primary fa-fw"></i>
            Đăng xuất</a>
      </li>
    </ul>
  
    <p class="text-light font-weight-bold text-uppercase px-3 small py-4 mb-0"></p>
  
    <div class="nav flex-column bg-dark mb-0 align-content-center">
        <img src="{% static '/logo/Clip_Dancer_transparent_by_Icons8.gif' %}" class="img-fluid" alt="Responsive image" width="60%">
    </div>
    </div>








