{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/tung_do_an.css' %}">
{% endblock style %}

{% block javascript %}

<script defer>

    $(document).ready(function() {
        const csrf = $("input[name='csrfmiddlewaretoken']").val()

        const sendStudentSearchData = function(student) {
            $.ajax({
                type: "POST", 
                url: "{% url 'search_student_ajax' %}",
                data: {
                    'csrfmiddlewaretoken': csrf,
                    'student': student,
                },
                success: (response) =>{
                    var data = response.data
                    if (Array.isArray(data)) {
                        $("#student-results-box").html("")
                        for (var i=0; i < data.length; i++){
                            if (i > 2) {
                                break;
                            }
                            $("#student-results-box").append(
                            `<div class='student-item-list'><div class='row mt-2 mb-2'><div class='col-12'><p>${data[i].name}</p></div></div></div>`
                            );
                            
                        }

                        $(".student-item-list").click(function() {
                            var data = $(this).text()
                            if ($("input[name='sinh_vien']").val().length === 0){
                                $("input[name='sinh_vien']").val($("input[name='sinh_vien']").val() + data)
                            }
                            else {
                                var student_added_list = $("input[name='sinh_vien']").val().match(/\d+/g)
                                console.log(student_added_list)
                                if (student_added_list.includes(data.match(/\d+/g)[0])) {
                                    console.log('exist');
                                } 
                                else {
                                    $("input[name='sinh_vien']").val($("input[name='sinh_vien']").val() + ", " + data)
                                }
                            }
                        })
                    }else{
                        $("#student-results-box").html("")
                        if ($("#student-search-input").val().length > 0) {
                            $("#student-results-box").append(`<b>${data}</b>`)
                        } else {
                            $("#student-results-box").addClass("not-visible");
                        }
                    }
                },
                error: (error) => {
                    console.log(error)
                } 
            })
        }

        $("#student-search-input").focus(function(){
            $('#student-search-input').keyup(function(e){
                if ($("#student-results-box").hasClass("not-visible"))
                {
                    $("#student-results-box").removeClass("not-visible")
                }
                sendStudentSearchData(e.target.value)
            })
        })

        $("#student-search-input").focusout(function(){
            if ($("#student-search-input").val().length == 0){
                $("#student-results-box").addClass("not-visible");
            }
        })

        
        $("#student-search-input").click(function(){
                $("#student_results-search").removeClass("add_student--project-off")
        })

        $("#icon_close-student--project").click(function(){
            $("#student_results-search").removeClass("add_student--project-off")
        })

        $('#icon_close-student--project').click(function(){
            console.log(123);
            $("#add_student--project").removeClass("add_student--project-on");
            $("#student_results-search").addClass("add_student--project-off")
        })

       
        setTimeout(function(){
               $("#save-success").css("display","none");
               
           }, 6000)
      

    });

</script>

{% endblock javascript %}

{% block content %}



<div class="page-content p-5 position-relative" id="content">

    {% if form.errors %}
        <ul>
            {% for field in form %}
            
            <script>


            </script>
            <p class="error ">
                {% if field.errors %}
                    <li class='text-danger'>
                        {{field.html_name}} 
                        {{ field.errors|striptags }}
                    </li>
                {% endif %}
            </p>
            
            {% endfor %}
        </ul>
    {% endif %}
    <div class=" mt-4">
        <h3 class="text-warning">
            <i class="fas fa-folder-plus me-1 text-primary fa-fw" style="width: 2.25em;"></i>
            Thêm thông tin đồ án.
        </h3>
        <form action="" method="POST" class="mt-5">
            {% csrf_token %}
            

            <div class="row m-4" >
                <label for="{{form.name.id_for_label}}" class="col-md-3 col-sm-12 text-primary mb-0 h5">Tên đồ án:</label>
                <input type="text" placeholder="Nhập thông tin" name="{{form.name.html_name}}" id="{{form.name.id_for_label}}" class="col-md-9 col-sm-12 css_input--project">
            </div>

            <div class="row m-4">
                
                <label for="{{form.slug_name.id_for_label}}" class='col-md-3 col-sm-12 text-primary mb-0 h5'>URL label:</label>
                <input type="text" placeholder="Nhập thông tin" name="{{form.slug_name.html_name}}"  id="{{form.slug_name.id_for_label}}" class='col-md-9 col-sm-12 css_input--project'>
                
            </div>
            <!--
                Tìm kiếm giáo viên để thêm vào input giáo viên
            -->
            <div class="row m-4" >
                <label for="{{form.giao_vien.id_for_label}}" class="col-md-3 col-sm-12 text-primary mb-0 h5">Giáo viên hướng dẫn:</label>
                <input type="text" placeholder="Nhập thông tin" name="{{form.giao_vien.html_name}}"  id="{{form.giao_vien.id_for_label}}" class="col-8  css_input--project">
            </div>




            
            <!--
                Tìm kiếm sinh viên để thêm vào input sinh viên
            -->
            <div class="row m-4" >
                <label for="{{form.sinh_vien.id_for_label}}" class="col-md-3 col-sm-12 text-primary mb-0 h5">Sinh viên tham gia:</label>
                <input type="text" placeholder="Nhập thông tin" name="{{form.sinh_vien.html_name}}" id="{{form.sinh_vien.id_for_label}}" class='col-8 css_input--project'>
                <button type="button" id="icon_add-student--project" class="col-1" style="background-color: #343a40; border: none;"><i class="fas fa-search-plus text-success mt-2"></i></button>
            </div>
            
            <div class="row m-4" id = "add_student--project"> 
                <label class='col-md-3 col-sm-12 text-primary mb-0 h5'>Thêm sinh viên</label>
                <input type="text" placeholder="Nhập thông tin" class="col-8 css_input--project" id='student-search-input' placeholder='Search student for appending ...'>
                <button type="button" id="icon_close-student--project" class="col-1" style="background-color: #343a40; border: none;"><i class="fas fa-times text-white mt-2"></i></button>
            </div>
            <div class="row m-4 add_student--project-off" id="student_results-search">
                <div class="col-md-3 col-sm-12"></div>
                <div id="student-results-box" class="result-card not-visible col-8 css_input--project" style="cursor: pointer;"></div>
                <div class="col-1"></div>
            </div>



            <!--
                END
            -->

            <div class="row m-4">
                <label for="{{form.start_time.id_for_label}}" class='col-md-3 col-sm-12 text-primary mb-0 h5'>Thời gian bắt đầu:</label>
                <input type="text" placeholder="Nhập thông tin" name="{{form.start_time.html_name}}"  id="{{form.start_time.id_for_label}}" class='col-9 css_input--project'>
            </div>

            <div class="row m-4">
                <label for="{{form.end_time.id_for_label}}" class='col-md-3 col-sm-12 text-primary mb-0 h5'>Thời gian kết thúc:</label>
                <input type="text" placeholder="Nhập thông tin" name="{{form.end_time.html_name}}" id="{{form.end_time.id_for_label}}" class='col-9 css_input--project'>
            </div>
            <div class="float-right">
                <button class="btn btn-success" type='submit' >Thêm</button>
            </div>
        </form>
    </div>
</div>

{% include 'teacher/teacher_base.html' %}
{% endblock content %}