{% extends 'base.html' %}
{% load static%}
{% block content %}


<div class="page-content p-5 position-relative" id="content">

    <div class="row mt-4">
      <h3 class="text-warning">
        <i class="fas fa-user-graduate me-1 text-primary fa-fw" style="width: 2.25em;"></i>
        {{ lopChung.name }} - Thông tin sinh viên
      </h3>
    
      <div class="col-lg-12 mt-5">
        <div class="row"><!---->
          <div class="col-lg-6 mt-5 text-center d-md-block d-lg-none " >
            <img src="{% static 'logo/Clip_Web_Design_transparent_by_Icons8.gif' %}"  width="85%" class="img_student" >
          </div>
          <div class="col-lg-6 mt-3">
            <div class="table-responsive-sm">
              <table class="table  text-light ">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sinh viên</th>
                    <th scope="col">Mã số sinh viên</th>
                  </tr>
                </thead>
                <tbody>
                {% if studentList %}
                    {% for student in studentList %}
                  
                  <tr> 
                    <!-- 
                      ********************************
                      Cột để đánh số
                      ********************************
                    -->
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a href="{% url 'info_student' student.code %}">{{ student.lastname }} {{ student.surname }} {{ student.firstname }}</a></td>
                    <td><a href="{% url 'info_student' student.code %}">{{ student.code }} </a></td>
                  </tr>
                  
                    {% endfor %}
                {% else %}
                    <p>No student in {{ lopChung.name }}</p>
                {% endif %}
                  <!-- 
                      ********************************
                      Tổng kết số lớp
                      ********************************
                    -->
                 
                </tbody>
              </table>
            </div>
            
          </div>  
          <div class=" col-lg-6 mt-5 text-center d-sm-none d-lg-block d-none-responsive ">
            <img src="{% static 'logo/Clip_Web_Design_transparent_by_Icons8.gif' %}" class="img-fuild " width="50%" alt="" width="85%">
          </div>     
        </div><!---->
        
      </div>
     
      
      
    </div>
  </div>
<!--<p>{{ lopChung.name }}</p>

<ul>
    {% if studentList %}
        {% for student in studentList %}
            <li><a href="{% url 'info_student' student.code %}">{{student}}</a></li>
        {% endfor %}
    {% else %}
        <p>No student in {{ lopChung.name }}</p>
    {% endif %}
</ul>
-->
{% include 'teacher/teacher_base.html' %}

{% endblock content %}