{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between page-content pr-5 pl-5"  id="content">
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white  shadow-sm px-2 mb-2 " style="max-width: 100px; max-height: 38px;">
      <i class="fa fa-bars mr-2"></i></button>
      <form class="d-flex form--responsive" action="{% url 'search_student' %}" method="GET">
        <input class="form-control mr-2" type="search" placeholder="Search student" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" style="max-height: 40px;"><i class="fas fa-search"></i></button>
    </form>
  </div>
<p>Lớp: {{ lopTC.hoc_phan }} </p>
<p> Mã lớp: {{lopTC.code}} </p>

<ul>
    {% for student in studentTC %}
    <li>
        <form action="" method="POST" >
            {% csrf_token %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Sinh viên</th>
                        <th>Điểm quá trình</th>
                        <th>Điểm cuối kì</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">{{ bangDiem.sinh_vien}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            
        </form>
    </li>
    
    {% endfor %}
    <input type="submit" value="Submit">

    
</ul>

{% include "teacher/teacher_base.html" %}

{% endblock content %}