body{
  background-image:linear-gradient(to right,rgba(41, 5, 69, 1),rgba(32, 4, 55, 1)) ;
}

/*

      MENU

*/
.menu__wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__logo{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  
}
.wrap__menu-items{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 13rem;
}
.menu__logo--tittle{
  margin-left: -11rem;
}
.menu__logo--titlle__2{
  
  font-size: 2.2rem;
  margin-left: -4rem;
  letter-spacing: 0.5rem;
  color: #fff;
  
}
.menu__logo--titlle__1{
  animation: flicker 1.5s infinite alternate;   
  font-size: 4.2rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
  font-weight: 600;
  margin-top: 1rem;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 4, 255),
    0 0 82px rgb(0, 4, 255),
    0 0 92px rgb(0, 4, 255),
    0 0 102px rgb(0, 4, 255),
    0 0 151px rgb(0, 4, 255);
}
@keyframes flicker {
  
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgba(0, 4, 255, 0.664),
      0 0 80px rgba(0, 4, 255, 0.664),
      0 0 90px rgba(0, 4, 255, 0.664),
      0 0 100px rgba(0, 4, 255, 0.664),
      0 0 150px rgba(0, 4, 255, 0.664);
  
  }
  
  30%, 44%, 55% {        
      text-shadow: none;
  }    
}
.menu__tittle,.menu__login-btn{
  color: var(--text-color);
  font-size: 2.2rem;
}

/*
          CONTENT
*/
.content{
  margin-top: 15rem;
}
.content__tittle-main{
  font-size: 4.6rem;
  color: var(--text-color);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5.2rem;

}

.content__tittle-slogan{
  font-size: 2.8rem;
  color: rgba(245, 222, 179, 0.76);
  font-weight: 300;
  margin-bottom: 4.2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-left: 5.4rem;
}
.content__tittle-sub{
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 100;
  line-height: 2.4rem;
}

.wrap__picture{
  background-image: url("/static/logo/background-complete.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 56rem;
}
.display__flex{
  display: flex;
  margin-top: -2rem;
}
.content__picture--light{
  position: relative;
  height: 100%;
  width: 73%;
  top: 11%;
  right: -9%;
}
.content__picture--human{
  width: 28%;
  position: relative;
}
.content__picture-character{
  position: absolute;
  top: 15rem;
  width: 58%;
  right: 20%;
  animation:  MoveUpDown 3s alternate infinite;
}
.content__picture-background{
  position: relative;
  width: 83%;
  left: 18%;
  top: 1rem;
}
.content__picture-light{
  position: absolute;
  width: 50%;
  right: 28%;
  top: 1rem;
  z-index: 0;
}
.content__picture-line{
  position: absolute;
  width: 70%;
  top: 3%;
  right: 16%;
  z-index: 0;
}
.content__picture-gear{
  position: absolute;
  top: 20%;
  right: 38%;
  z-index: 0;
}
.content__picture-gear .gear_1{
  font-size: 8rem;
  color: #272121a6;
  animation:circle 6s linear infinite;

}
.content__picture-gear .gear_2{
  font-size: 4rem;
  color: #272121a6;
  animation: circleReverse 6s linear infinite;
}
.content__login-responsive{
  display: none;
}
@keyframes circle{
  0%{
      transform:rotate(0deg)
    }
    100%{
      transform:rotate(360deg)         
    }
}
@keyframes circleReverse{
  0%{
      transform:rotate(360deg)
    }
    100%{
      transform:rotate(0deg)         
    }
}
@keyframes MoveUpDown{
  0%{
      top:20%;
  }
  100%{
      top: 35%;
  }
}
.home__footer{
  margin-top: 2rem;
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_copyright{
  color: #fff;
}
.footer__copyright{
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.8rem;
  font-weight: 100;
}
.footer__copyright-content{
  color: #fff;
  font-size: 2rem;
  margin-left: 2rem;
  font-weight: 100;
}
.robot__footer{
  width: 1%;
}

.qldt__modal.qldt__modal-open{
  display: flex;
}
.close__icon{
  font-size: 2rem;
  color: var(--text-color);
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  /* line-height: 2rem; */
  padding-top: 2rem;
  float: right;
  cursor: pointer;
}
.qldt__modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  display:none;
}
.modal__log-in{
  background-image:linear-gradient(to right,rgba(36, 4, 62, 1),rgba(36, 4, 62, 1));
  width: 500px;
  display: flex;
  margin: auto;
  animation: modalFadeIn ease 0.5s;
  
}
.modal__log-in--header{
  font-size: 4.6rem;
  color: var(--text-color);
  font-weight: 600;
  text-align: center;
  padding-top: 5.5rem;
  margin-bottom: 3.5rem;
 
}
.log__in-account{
  display: block;
  outline: none;
  border: 1px solid var(--text-color);
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  height: 4rem;
  width: 50%;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  background: transparent;
  margin-left:auto;
  margin-right: auto;
  padding-left: 2rem;
  color: white;
}
.log__in-account::placeholder{
  color: var(--text-color);
  font-style: italic;
  font-size: 1.2rem;
}
.modal__img--input{
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 50%;
}
.modal__log-in--body{

}
.log__in-btn{
  display: flex;
  margin-top:3rem;
  justify-content: center;
}
.log__in-btn--log{
  border: 1px solid #0400BC;
  background-color: #0400BC;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 4rem;
  width: 12.5rem;
  height: 4rem;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  
}

.log__in-btn a{
  text-decoration: none;
  color: var(--text-color-color);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 4rem;
}
.log__in-forgot{
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}
.log__in-forgot a{
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
}
.close__icon{
  margin-right: 3rem;
}
/*Hieu ung*/
@keyframes modalFadeIn{
  from {
      opacity: 0.5;
      transform: translateY(-50px);
  }
  to{
      opacity: 1;
      margin-top: translateY(0);
  }
}

