{% load static %}

<!-- ========================= FOOTER ========================= -->

<!--<footer class=" position-absolute bg-dark text-white text-center  footer__copyright-responsive position-fixed" style="left:0;right: 0; bottom: 0;" >
    <div class="container ">-->
<footer class=" position-absolute bg-dark text-white text-center  footer__copyright-responsive container" style="left:0;right: 0; bottom: 0; max-width:800px" >
      <p class="lead">Copyright &copy; 4Clowns</p>
</footer>

<!--Footer-->
<!-- ========================= FOOTER END // ========================= -->
