{% load static %}

{% if request.user.is_authenticated %}
<!--
      ************************************************************************************************
                   NAVBAR--sTUDENT/TEACHER
      ************************************************************************************************
    -->
<div class="vertical-nav bg-dark" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-dark">
      <div class="media d-flex align-items-center"><img src="{% static 'logo/logo.jpg' %}" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
        <div class="media-body">
          <h4 class="m-0 text-light">Phi Long</h4>
          <p class="font-weight-light text-light mb-0">Welcome back</p>
        </div>
      </div>
    </div>

    <ul class="nav flex-column bg-dark mb-0">
      <li class="nav-item">
        <a href="{% url 'info' %}" class="nav-link text-light">
            <i class="fas fa-user-graduate me-1 text-primary fa-fw"></i>
            Student Information</a>
       
      </li>
      <li class="nav-item">
        <a href="" target="_"class="nav-link text-light"><i class="fas fa-trophy me-1 text-primary fa-fw"></i>
            Achievement</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'genaral_class' %}" class="nav-link text-light"><i class="far fa-calendar-alt me-1 text-primary fa-fw"></i>
            General Class</a>
      </li>
      
      <li class="nav-item">
        <a href="{% url 'logout' %}" class="nav-link text-light">
            <i class="fas fa-sign-out-alt me-1 text-primary fa-fw"></i>
                 Log Out</a>
      </li>
    </ul>
  
    <p class="text-light font-weight-bold text-uppercase px-3 small py-4 mb-0"></p>
  
    <div class="nav flex-column bg-dark mb-0 align-content-center">
        <img src="{% static '/logo/Clip_Dancer_transparent_by_Icons8.gif' %}" alt="" width=85%>
    </div>
    </div>
    <!--
      ************************************************************************************************
                  END - NAVBAR--sTUDENT/TEACHER
      ************************************************************************************************
    -->
{%else %}
<!--
      ************************************************************************************************
                   NAVBAR--HOME
      ************************************************************************************************
    -->
<header class="section-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark container">
        <a class="navbar-brand d-flex align-items-center" style="max-width: 120px" href="{% url 'home' %}">
            <img src="{% static 'logo/logo.jpg' %}" class="img-fuild" width="50%" style="border-radius: 50%" alt="logo"/>
            <div class="d-none d-sm-block" style="margin-left: 2rem">
                <h1 class="text-center logo__name-css text-light">4CLOWNS</h1>
            </div>
        </a>
        
        <button class="navbar-toggler bg-light ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="d-flex align-items-end navbar-nav ml-lg-auto">
                <li class="nav-item active mr-2">
                    <a class="nav-link text-light" href="{% url 'home' %}">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link text-light" href="#">STUDENT</a>
                </li>  
                <li class="nav-item mr-2">
                    <a class="nav-link text-light" href="#">TEACHER</a>
                </li>
            </ul>
           
            <div class="d-flex">
                <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#modelLogin">
                    Sign in
                </button>
            </div>
        </div>
    </nav>
</header>
<!--
      ************************************************************************************************
                  END-NAVBAR--HOME
      ************************************************************************************************
    -->
{% endif %}





