{% load static %}

    <div class="home__menu">
        <div class="grid grid_reponsive">
           <div class="menu__wrap">
                <div class="menu__logo">
                    <img src="{% static 'logo/logo.png' %}" alt="" width="20%">
                   <div class="menu__logo--tittle">
                        <div class="menu__logo--titlle__1">
                            4CLOWNS
                        </div>
                        <div class="menu__logo--titlle__2">
                            BRING THE BEST TO YOU
                        </div>
                   </div>
                </div>
               <div class="wrap__menu-items">
                    
                    <div class="menu__tittle">HOME</div>
                    <div class="menu__tittle">TEACHER</div>
                    <div class="menu__tittle">STUDENT</div>
                    
                    <div class=" menu__login-btn js-login"> 
                        LOGIN
                    </div>
               </div>

           </div>
        </div>
    </div>
