{% load static %}

<header class="section-header">
    <nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
        <div class="container">
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="home-btn" type='button' href="#">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        {% if not user.is_authenticated %}
                                <a class="nav-link" type="button" href={% url "login" %}>Login</a>
                        {% endif %}
                    </li>

                </ul>
            </div>           
        </div> 
    </nav>
</header>