
{% extends 'base.html' %}
{% load static%}
{% block content %}
    
    <div class="container">
        <div class="row">
           <div class="col-md-6 d-sm-none d-md-block mt-5 picture_css">
             <img src="{% static 'logo/Clip_recruting_ad_transparent_by_Icons8.gif' %}" class="img-responsive" alt="" width="90%">
           </div>
            <div class="col-md-6 col-sm-12  mt-5">
             <h1 class="text-warning text-center mb-md-5 text-uppercase">Nhập email của bạn</h1>
             <h6 class="text-danger">
                {% if message %}
                {{ message }}
                {% endif %}
            </h6>
            
             <form action="{% url 'forget_password' %}" method="POST" class="input-group text-center">
                 {% csrf_token %}
                 <input type="text" name="email" placeholder="Your E-Mail Address" class="form-control " aria-describedby="button-addon2" style="border-radius: 2px;">

                 <input type="submit" value="SEND"  class="btn btn-primary" id="button-addon2">
             </form>

         </div>
     </div>   
     </div> 
     
    
{% endblock content %}

